<!DOCTYPE html>
<body>

<div class="fixed-top">
<ul class="nav navbar-light" style="background-color: #000000; height: 75px; padding-top: 15px">
  <li class="nav-item">
      <%= link_to (image_tag "wasted_logo.png", class:"logo"), cocktails_path, class: "logo navbar-brand nav-link" %>
  </li>
  <li class="nav-item rounded">
    <%= link_to "All Cocktails", cocktails_path, class: "navbar-brand nav-link border-bottom bg-light" %>
  </li>
  <li class="nav-item">
    <%= link_to "Create New Cocktail", new_cocktail_path, class: "navbar-brand nav-link border-bottom bg-light" %>
  </li>
</ul>
</nav>
</div>
<div class="main">
<h1 class="header">Cocktails</h1>
<h3 class="header">Here are all the wonderful cocktials you could make today</h3>
<div class="row justify-content-around">
  <% @cocktails.each do |cocktail| %>
    <div class="card col-sm-5">
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to cocktail.name, cocktail %>
        </h5>
      </div>
    </div>
  <% end %>
  <div class= "button_to_new col-sm-12">
    <%= link_to "Create a new Cocktail", new_cocktail_path, class: "link_to_new" %>
  </body>
</div>
